button {
  display: flex;
  align-items: center;
  line-height: 18px;
  padding: 10px 1rem;
  max-height: 40px;
}

button > svg {
  margin-right: 7.8px;
}

.new-document-btn {
  padding-inline: 43px;
}
