.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 100;
  visibility: hidden;
  transition: 0.4s ease;

  &.is-active {
    opacity: 0.5;
    visibility: visible;
  }
}

.dialog {
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  min-width: 343px;
  min-height: 218px;
  padding: 1.5rem;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 110;
  translate: -50% -30%;
  transition: 0.4s ease;
  visibility: hidden;

  &-title {
    line-height: 26px;
  }

  &-description {
    line-height: 24px;
  }

  &-btn {
    padding-block: 10px;
  }

  &.is-active {
    opacity: 1;
    translate: -50% -50%;
    visibility: visible;
  }
}
