@import './@mixins/@mixins.scss';

.file-rename {
  gap: 1rem;
  align-items: center;
  padding-block: 16px;
  margin-right: auto;

  @include tablet {
    min-width: 375px;
  }

  @include desktop {
    min-width: 44%;
  }

  .document-name {
    flex-grow: 1;
  }

  label {
    display: block;
    line-height: 15px;
  }

  input {
    width: 100%;
    outline: none;
    padding: 0;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    caret-color: var(--clr-orange-1);

    &:hover {
      border-color: var(--clr-white) !important;
    }
  }
}
