.markdown-header {
  width: 100%;
  height: 42px;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  transition: 0.5s ease;

  &.b-right-gray {
    border-right: 1px solid var(--clr-gray-4);
  }

  &.dark-mode.b-right-gray {
    border-color: var(--clr-gray-1);
  }
}

@media only screen and (min-width: 767px) {
  .markdown-header {
    position: relative;
  }
}
