@import './@mixins/@mixins.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 0.5rem;
  z-index: 100;
  transition: left 0.4s ease;

  &.is-active {
    left: 250px;
  }

  @include tablet {
    grid-area: Header;
    gap: 1.5rem;
  }

  @include desktop {
    padding-right: 1rem;
  }

  .icon-logo {
    display: none;
    width: 131px;
    height: 18px;

    @include desktop {
      display: block;
    }
  }

  .divider {
    display: none;
    width: 1px;
    height: 40px;
    background-color: var(--clr-gray-1);

    @include desktop {
      display: block;
    }
  }

  .icon-delete {
    width: 18px;
    height: 20px;
    cursor: pointer;

    @include desktop {
      &:hover use {
        fill: var(--clr-orange-1);
      }
    }
  }
}
