.header {
  align-items: center;
  justify-content: space-between;
  padding-right: 0.5rem;
  transition: 0.4s ease;

  &.is-active {
    translate: 250px 0;
  }
}

.icon-delete {
  width: 18px;
  height: 20px;
}
