@import './@mixins/@mixins.scss';

.main-content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 56px;
  transition: left 0.4s ease, background-color 0.5s ease;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'Header Header'
      'Markdown Preview';
    padding-top: 72px;
  }

  @include darkMode {
    background-color: var(--clr-dark-1);
  }

  &.is-active {
    left: 250px;
  }

  .one-page-preview {
    position: fixed;
    grid-area: 1 / span 2;
    width: 100%;
    height: 100%;
    background-color: var(--clr-white-2);
    transition: 0.5s ease;

    @include darkMode {
      background-color: var(--clr-dark-1);
    }

    .one-page-preview-content .preview-content {
      padding: 22px 48px;
    }
  }
}
