.markdown-header {
  height: 42px;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
}

.markdown textarea {
  width: 100%;
  padding: 1rem;
  resize: none;
  border: none;
  min-height: 100vh;
  outline: none;
}
