@import './@mixins/@mixins.scss';

.markdown {
  display: none;
  @include tablet {
    grid-area: Markdown;
    border-right: 1px solid var(--clr-gray-4);

    @include darkMode {
      border-color: var(--clr-gray-1);
    }
  }

  &.open {
    display: block;
  }

  &-content {
    display: block;
    width: 100%;
    height: calc(100vh - 98px);
    margin: 0;
    padding: 1rem;
    color: var(--clr-dark-4);
    border: 0;
    background-color: transparent;
    resize: none;
    line-height: 24px;
    white-space: pre-wrap;
    transition: 0.5s ease;
    cursor: auto;

    @include tablet {
      padding-top: 1rem;
      height: calc(100vh - 114px);
    }
    @include darkMode {
      color: var(--clr-gray-3);
    }

    &:focus {
      outline: none;
    }
  }
}
