@import './@mixins/@mixins.scss';

.menu {
  width: 56px;
  height: 56px;

  .icon-menu {
    width: 23px;
    height: 14px;
  }

  .icon-close {
    width: 18px;
    height: 18px;
  }

  @include tablet {
    width: 72px;
    height: 72px;

    .icon-menu {
      width: 30px;
      height: 18px;
    }

    .icon-close {
      width: 22.63px;
      height: 22.63px;
    }
  }
}
