.preview {
  padding-top: 56px;
}

.preview-content {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  padding-top: 42px;
  line-height: 24px;
  white-space: pre-wrap;
  transition: 0.8s ease;
}
