.preview-content {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 1rem 20px;
  padding-top: 58px;
  line-height: 24px;
  white-space: pre-wrap;
  transition: 0.5s ease;

  ul,
  ol {
    padding-left: 40px;

    li {
      padding-left: 0.5rem;
    }
  }
}
