.preview-content {
  width: 100%;
  --gap: 22px;
  margin: 0;
  padding: 1rem 20px;
  padding-top: 58px;
  line-height: 24px;
  transition: 0.5s ease;

  ul,
  ol {
    padding-left: 40px;

    li {
      padding-left: 0.5rem;
    }

    &:not(ol) li::marker {
      font-size: 3px;
      color: var(--clr-orange-1);
    }
  }

  .block-quote {
    color: var(--clr-dark-4);
    padding: 1.5rem;
    border-left: 4px solid var(--clr-orange-1);
    background-color: var(--clr-white-1);
    border-radius: 4px;
    font-weight: var(--fw-bold);
  }
}
