@import './@mixins/@mixins.scss';

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  padding: 27px 1.5rem;
  transition: left 0.4s ease;

  &.is-active {
    left: 0;
  }

  nav {
    gap: 27px;
  }

  ul {
    margin-top: -19px;

    li {
      list-style: none;
      padding-block: 1rem;
    }
  }
}

.side-bar .icon-logo {
  width: 131px;
  height: 18px;

  @include desktop {
    display: none;
  }
}
