.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  padding: 1.8rem 1.5rem;
  --flow: 27px;
  will-change: left;
  transition: 0.4s ease;

  &.is-active {
    left: 0;
  }
}

.side-bar .icon-logo {
  width: 131px;
  height: 18px;
}
