@import './@mixins/@mixins.scss';

.side-bar-list {
  gap: 1rem;
  align-items: center;
  margin-right: auto;
  cursor: pointer;

  @include desktop {
    &:hover p {
      color: var(--clr-orange-1);
    }
  }

  span {
    display: block;
    line-height: 15px;
  }

  svg {
    flex-shrink: 0;
  }

  p {
    word-break: break-all;
  }
}
